/* Global scrollbar styling for web */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

::-webkit-scrollbar-track {
  background: transparent;
}

html {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #444 #0000; /* Firefox */
}
